@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    background-color: blue;
    grid-row: span 2;
    display: grid;
    padding: 15px;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 5px;
}

.sidebar .logo img {
    height: 50px;
    filter: invert(1);
}

.sidebar .logo h3 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul img {
    height: 35px;
    filter: invert(1);
}

.sidebar ul a {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 10px;
    margin-bottom: 17px;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}



.header {
    background-color: green;
    display: grid;
}

.main {
    background-color: red;
    display: grid;
}