@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    z-index: 3;
    background-color: #0ea5e9;
    grid-row: span 2;
    display: grid;
    padding: 15px;
    grid-template-rows: repeat(3, max-content);
    gap: 30px;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 10px;
}

.sidebar .logo img {
    height: 50px;
    filter: invert(1);
}

.sidebar .logo h3 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.sidebar ul {
    padding-left: 20px;
    list-style: none;
    display: grid;
    row-gap: 15px;
}

.sidebar ul img {
    height: 28px;
    filter: invert(1);
}

.sidebar ul a {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}



.header {
    z-index: 2;
    padding: 10px 40px;
    background-color: green;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    column-gap: 20px;
    background-color: white;
    box-shadow: 0 5px 5px rgb(183, 183, 183);
}

.header img {
    height: 30px;
}

.header .search {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 10px;
}

.header .search input {
    background-color: #e2e8f0;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    height: 30px;
    font-size: 1.1rem;
}

.header .search input:focus {
    border: none;
    outline: 2px solid #0ea5e9;
    box-shadow: 0 0 5px 0 black;
}

.header .notifications {
    justify-self: end;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    gap: 30px;
}

.header .notifications .photo {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: #0ea5e9;
}

.header .user-info {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    gap: 20px;
}

.header .user-info .photo {
    height: 70px;
    width: 70px;
    background-color: #0ea5e9;
    border-radius: 100%;
}

.header .user-info .welcome {
    font-size: 0.85rem;
}

.header .user-info .user-name {
    font-size: 1.5rem;
}

.header .buttons {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.header .buttons button {
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 20px;
    background-color: #0ea5e9;
    color: white;
    font-size: 1.1rem;
}



.main {
    z-index: 1;
    padding: 30px;
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.main .projects {
    grid-row: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content repeat(3, minmax(180px, max-content));
    gap: 20px;
}

.main .projects img {
    height: 22px;
}

.main .projects .title {
    grid-column: span 2;
}

.main .projects .card {
    background-color: white;
    border-left: solid 5px #0ea5e9;
    border-radius: 10px;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3, max-content);
}

.projects .card-title {
    font-size: 1.1rem;
}

.projects .card .text {
    margin: 5px 0 20px 0;
    color: #64748b;
}

.projects .card .icons {
    justify-self: end;
}