@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    z-index: 3;
    background-color: #0ea5e9;
    grid-row: span 2;
    display: grid;
    padding: 15px;
    grid-template-rows: repeat(3, max-content);
    gap: 30px;
}

.sidebar .logo {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 10px;
}

.sidebar .logo img {
    height: 50px;
    filter: invert(1);
}

.sidebar .logo h3 {
    font-size: 3rem;
    color: white;
    margin: 0;
}

.sidebar ul {
    padding-left: 20px;
    list-style: none;
    display: grid;
    row-gap: 15px;
}

.sidebar ul img {
    height: 28px;
    filter: invert(1);
}

.sidebar ul a {
    display: grid;
    grid-template-columns: min-content max-content;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
}



.header {
    z-index: 2;
    background-color: green;
    display: grid;
}

.header img {
    height: 30px;
}



.main {
    z-index: 1;
    background-color: red;
    display: grid;
}